@page "/projects"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
<PageTitle>Projects</PageTitle>

<div class="center">

<h1>Projects</h1>

</div>
@code {
    List<Project> projects = new();

    protected override async Task OnInitializedAsync()
    {
        projects = await HttpClient.GetFromJsonAsync<List<Project>>(NavigationManager.BaseUri + "projects");
    }
}



<div class="main">
  <div class="center">
  <a target="_blank" href="https://github.com/simplymisfit?tab=repositories" class="btn btn-primary center"> Go to this page</a>
  </div>
  <br />
  <ul class="project-cards">
    @if (projects != null)
    {
      @foreach (var project in projects)
      {
        <li style="background-image: url('@project.ImageUrl')">
          <div class="project-info">
          <span class="title">@project.Name</span>
          @project.Description
          </div>
        </li>
      }
    }
  </ul>
</div>
