@page "/todo"

<h2 class="center">To Do (@todos.Count(todo => !todo.IsDone))</h2>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="@todo.Title" />
        </li>
    }
</ul>

<br />

<input class="form-control" placeholder="Something todo" @bind="newTodo"/>

<br />

<button class="btn btn-primary" @onclick="AddTodo">Add todo</button>

@code 
{
    private List<TodoItem> todos = new();
    //private List<TodoItem> todos = File.ReadAllLines("SavedList.txt").ToList();
    private string newTodo;

    private void AddTodo()
    {
        if(!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo } );

            TextWriter tw = new StreamWriter("SavedList.txt");
    
            int flag = 0;

            foreach (var todo in todos)
               tw.WriteLine(todo.Title);

            tw.Close();

            newTodo = string.Empty;
        } 
    }
}